.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 2rem;

	li {
		a {
			font-size: 0.75rem;
			text-transform: uppercase;
		}

		a:global(.active) {
			font-weight: 700;
		}

		&:last-of-type {
			img {
				display: none;
			}
		}
	}

	img {
		transform: rotate(-90deg);
		margin-left: 0.5rem;
		margin-bottom: 0.02rem;
	}
}
